<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>newUser</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/addUser}" th:object="${newUser}">
    <table border="3">

        <tr><td> ID: <th:block th:text="${newUser.id}"/></td></tr>

        <tr><td> <label for="firstName">Enter FirstName:</label><input type="text" th:field="*{firstName}" id = "firstName"/></td></tr>

        <tr><td> <label for="lastName">Enter LastName:</label><input type="text" th:field="*{lastName}" id = "lastName"/></td></tr>

        <tr><td> <label for="userName">Enter Age:</label><input type="text" th:field="*{email}" id = "userName"/></td></tr>

        <tr><td> <label for="email">Enter Email:</label><input type="text" th:field="*{username}" id = "email"/></td></tr>

        <tr><td> <label for="password">Enter Password:</label><input type="text" th:field="*{password}" id = "password"/></td></tr>

        <tr><td> <label>Select Roles:</label>
            <select name="roles" id="roles" multiple="multiple" size="2">
                <div th:each="role : ${roles}">
                    <option th:text="${role.getName()}" th:value="${role.getId()}"/>
                </div>
            </select>
        </td></tr>
        </label>
    </table>
    <input type="submit" value="AddUser">

</form>
</body>
</html>