<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>newUser</title>
</head>
<body>

<form th:action="@{/admin/updateUser}" th:object="${userToUpdate}"
      th:method="PATCH" style="max-width: 600px; margin: 0 auto;">
  <input type="hidden" th:field="*{id}" />
  <div class="m-3">

    <div class="form-group row">
      <label class="col-4 col-form-label">ID: </label>
      <th:block th:text="${id}"/>
    </div>

    <div class="form-group row">
      <label class="col-4 col-form-label">First Name: </label>
      <div class="col-8">
        <input type="text" th:field="*{firstName}" class="form-control"
               required minlength="2" maxlength="20"/>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-4 col-form-label">Last Name: </label>
      <div class="col-8">
        <input type="text" th:field="*{lastName}" class="form-control"
               required minlength="2" maxlength="20" />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-4 col-form-label">Email: </label>
      <div class="col-8">
        <input type="text" th:field="*{email}" class="form-control" required />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-4 col-form-label">Username: </label>
      <div class="col-8">
        <input type="text" th:field="*{username}" class="form-control" required />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-4 col-form-label">Password: </label>
      <div class="col-8">
        <input type="text" th:field="*{password}" class="form-control"
               required minlength="6" maxlength="10"/>
      </div>
    </div>

    <div class="form-group row">
      <label>Select Role:</label>
      <select name="roles" id="roles" multiple="multiple" size="2">
        <div th:each="role : ${roles}">
          <option th:text="${role.getName()}" th:value="${role.getId()}"/>
        </div>
      </select>
      </label>
    </div>

    <div>
      <button type="submit" class="btn btn-primary">Edit</button>
    </div>
  </div>
</form>
</body>
</html>