<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Users</title>
</head>
<body>
<table border="3">
  <thead class="thead-dark">
  <tr>
    <th>User ID</th>
    <th>Username</th>
    <th>Password</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Roles</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr th:each = "user : ${users}">
    <td th:text="${user.id}">User ID</td>
    <td th:text="${user.username}">Username</td>
    <td th:text="${user.password}">Password</td>
    <td th:text="${user.firstName}">First Name</td>
    <td th:text="${user.lastName}">Last Name</td>
    <td th:text="${user.email}">E-mail</td>

    <td th:each="role : ${user.roleSet}" th:text="${role.getName()}">Roles</td>
    <td>
      <form th:action="@{/admin/update/{id}(id=${user.getId()})}" th:method="GET">
        <input type="submit" value="Edit"/>
      </form>
    </td>
    <td>
      <form th:action="@{/admin/deleteUser/{id}(id=${user.getId()})}" th:method="DELETE">
        <input type="submit" value="Delete"/>
      </form>
    </td>
  </tr>
  </tbody>
</table>
<form th:action="@{/admin/addUserForm}" th:method="GET">
  <input type="submit" value="AddUser"/>
</form>
<form th:action="@{/logout}" method="post">
  <input type="submit" value="Sign Out"/>
</form>

</body>
</html>