<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<form th:method="GET" th:object="${user}">
    <table>
        <tr><h1 th:text = "*{username}"></h1></tr>

        <tr><h1 th:text = "*{firstName}"></h1></tr>

        <tr><h1 th:text = "*{lastName}"></h1></tr>

        <tr><h1 th:text = "*{email}"></h1></tr>

    </table>


</form>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>


</body>
</html>